{% extends 'base.html' %}

{%block title %} Pets List {% endblock %}

{% block content %}
<h1>Pets </h1>

<div clas="col-3">
    {% for pet in pets %}
        <img src = {{pet.phot_url}}> 
        <a href ="{{ url_for('edit_pet', pet_id=pet.id) }}"> {{pet.name}} </a>
        {% if pet.available %} 
            is <b>available!</b>
        {% else %}
            is not available.
        {% endif %}

    {% endfor %}
</div>

<form method="POST">
    <button class="btn btn-primary" type="submit"> Add a pet</button>
</form>


{% endblock %}